<mat-toolbar class="header mat-elevation-z4">
    <span>
        <a routerLink="/">
            <img src="assets/img/logo.png" alt="logo" class="logo">
        </a>
    </span>
    <span class="tittle-group">  
        <a>
            <i class="material-icons">
                home
            </i>
        </a>
    </span>
</mat-toolbar>