<mat-card class="home mat-elevation-z3">
    <mat-card-title class="title">Importações</mat-card-title>
    <mat-card-subtitle class="subtitle">
        <button mat-raised-button routerLink="envio">Novo Envio</button>
    </mat-card-subtitle>
    <mat-card-content>
        <div class="mat-elevation-z4">
            <table mat-table [dataSource]="importacoes">
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef>Id</th>
                    <td mat-cell *matCellDef="let row">{{row.id}}</td>
                </ng-container>

                <ng-container matColumnDef="dataImportacao">
                    <th mat-header-cell *matHeaderCellDef>Data de Importacao</th>
                    <td mat-cell *matCellDef="let row">{{row.dataImportacao | date: 'dd/MM/yyyy - HH:mm'}}</td>
                </ng-container>

                <ng-container matColumnDef="numeroItens">
                    <th mat-header-cell *matHeaderCellDef>Numero de Itens</th>
                    <td mat-cell *matCellDef="let row">{{row.numeroItens}}</td>
                </ng-container>

                <ng-container matColumnDef="menorDataEntrega">
                    <th mat-header-cell *matHeaderCellDef>Menor Data de Entrega</th>
                    <td mat-cell *matCellDef="let row">{{row.menorDataEntrega | date: 'dd/MM/yyyy - HH:mm'}}</td>
                </ng-container>

                <ng-container matColumnDef="valorTotalImportacao">
                    <th mat-header-cell *matHeaderCellDef>Valor Total da Importação</th>
                    <td mat-cell *matCellDef="let row">{{row.valorTotalImportacao | currency: 'BRL'}}</td>
                </ng-container>

                <ng-container matColumnDef="situacao">
                    <th mat-header-cell *matHeaderCellDef>Situação</th>
                    <td mat-cell *matCellDef="let row">{{row.situacao}}</td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;" routerLink="importacao/{{row.id}}"></tr>
            </table>
        </div>
    </mat-card-content>
</mat-card>