<mat-card class="home mat-elevation-z3">
    <mat-card-title class="title">Envio</mat-card-title>
    <mat-card-subtitle class="subtitle">
        <div class="row">
            <input class="ng-hide" id="input-file-id" type="file" (change)="setFile($event.target.files)"/>
            <label for="input-file-id" class="md-button md-raised md-primary"></label>
        </div>
        <br>
        <br>
        <div class="row">
            <button mat-raised-button [disabled]="!file" (click)="sendFile()">Enviar</button>
        </div>
    </mat-card-subtitle>
</mat-card>