<mat-card class="home mat-elevation-z3">
    <mat-card-title class="title">Importação - {{id}}</mat-card-title>
    <mat-card-content>
        <br>
        <mat-grid-list cols="12" rowHeight="3rem">
            <mat-grid-tile colspan="1">
                <div>
                    <label>Data de Importação</label>
                    <br />
                    <strong>{{importacao.dataImportacao | date: 'dd/MM/yyyy - HH:mm'}}</strong>
                </div>
            </mat-grid-tile>
            <mat-grid-tile colspan="2">
                <div>
                    <label>Nome do Arquivo</label>
                    <br />
                    <strong>{{importacao.nomeArquivo}}</strong>
                </div>
            </mat-grid-tile>
            <mat-grid-tile colspan="1">
                <div>
                    <label>Situação</label>
                    <br />
                    <strong>{{importacao.situacao}}</strong>
                </div>
            </mat-grid-tile>
        </mat-grid-list>
    </mat-card-content>
    <mat-tab-group class="tab-detalhes">
        <mat-tab label="Lotes">
            <div class="mat-elevation-z4">
                <table mat-table [dataSource]="lotes">

                    <ng-container matColumnDef="dataEntrega">
                        <th mat-header-cell *matHeaderCellDef>Data de Entrega</th>
                        <td mat-cell *matCellDef="let row">{{row.dataEntrega | date: 'dd/MM/yyyy - HH:mm'}}</td>
                    </ng-container>

                    <ng-container matColumnDef="nomeProduto">
                        <th mat-header-cell *matHeaderCellDef>Nome do Produto</th>
                        <td mat-cell *matCellDef="let row">{{row.nomeProduto}}</td>
                    </ng-container>

                    <ng-container matColumnDef="quantidade">
                        <th mat-header-cell *matHeaderCellDef>Quantidade</th>
                        <td mat-cell *matCellDef="let row">{{row.quantidade}}</td>
                    </ng-container>

                    <ng-container matColumnDef="valorUnitario">
                        <th mat-header-cell *matHeaderCellDef>Valor Unitário</th>
                        <td mat-cell *matCellDef="let row">{{row.valorUnitario | currency: 'BRL'}}</td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedLoteColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedLoteColumns;"></tr>
                </table>
            </div>
        </mat-tab>
        <mat-tab label="Falhas">
            <div class="mat-elevation-z4">
                <table mat-table [dataSource]="falhas">

                    <ng-container matColumnDef="descricao">
                        <th mat-header-cell *matHeaderCellDef>Descrição</th>
                        <td mat-cell *matCellDef="let row">{{row.descricao}}</td>
                    </ng-container>

                    <ng-container matColumnDef="linha">
                        <th mat-header-cell *matHeaderCellDef>Linha</th>
                        <td mat-cell *matCellDef="let row">{{row.linha}}</td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedFalhaColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedFalhaColumns;"></tr>
                </table>
            </div>
        </mat-tab>
    </mat-tab-group>
</mat-card>